################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WantHave/bin/Debug
/WantHave/obj/Debug
