@{
    ViewBag.Title = "About WantHave Project";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>WantHave is a practice project created by Marisela Cerda intended to enable people to more efficiently share stuff with people in your local community in order reduce waste and create stronger more connected communities.</p>
