@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the WantHave Project</h1>
    <p class="lead">The WantHave Project is a way to ask for and share stuff with the people in your community. </p>
   <!-- <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Post an Item</h2>
        <p>
            We all have items we no longer use or need. Why not give that item to a neighbor. Post items here with pictures, descriptions and details to your local community.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Give&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Request an Item </h2>
        <p>Need some sugar? How about a desk? Why not reach out to your local community before running out to buy an item. Chances are that someone in your community has the item available.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Want &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Borrow an Item</h2>
        <p>Sometimes we just need to borrow an item for a short period of time. Post your request to see if your neighbors would be willing to help out.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Borrow &raquo;</a></p>
    </div>
</div>